{% extends 'base.html.twig' %}

{% block title %}New Artist{% endblock %}

{% block body %}
    <h1>Create new Artist</h1>

    {{ include('artist_controller_crud/_form.html.twig') }}

    {% if app.user %}
    <a href="{{ path('app_artist') }}">back to list</a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_artist_controller_crud_index') }}">back to list</a>
    {% endif %}

{% endblock %}
