{% extends 'base.html.twig' %}

{% block title %}Home Page !{% endblock %}

{% block body %}
<div>
    <div class="img-left">
    <a href={{ path('app_bar') }}>Bars</a>
    </div>
    <div class="img-right">
    <a href={{ path('app_artist') }}>Artistes</a>
    </div>
</div>
{% endblock %}
