{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div>
    <div class="img-left">
    <h2>Bars</h2>
    </div>
    <div class="img-right">
    <h2>Artistes</h2>
    </div>
</div>
{% endblock %}
