*
    margin: 0px
    padding: 0px
    body
        background-color: rgb(15, 8, 26)
        nav
            background-color: rgb(2, 0, 20)
            padding: 12px 0px 12px 0px
            ul
                display: flex
                list-style: none
                justify-content: space-evenly
                li
                    a
                        text-decoration: none
                        color: white
                        display: block
                        padding: 10px
                        font-size: 20px
        div.home
            margin: 100px 0px 100px 0px
            display: flex
            align-items: center
            justify-content: space-evenly
            a
                display: flex
                align-items: center
                justify-content: center
                text-decoration: none
                text-shadow: 1px 1px 2px white
                font-size: 50px
                color: white
                width: 100%
                height: 100%
                transform: scale(1)
                transition: 0.6s ease-in-out
            a:hover
                transform: scale(1.1)
            div
            .img-left, .img-right
                width: 480px
                height: 380px
                border-radius: 20px
                background-size: cover
                background-position: center
            .img-left
                background-image: url(../imgs/bar1.jpg)
                transform: scale(1)
                transition: 0.6s ease-in-out
            .img-right
                background-image: url(../imgs/artist1.jpg)
                transform: scale(1)
                transition: 0.6s ease-in-out
            :hover
                transform: scale(1.1)
        form
            display: flex
            flex-direction: column
            align-items: center
        h2.logtitle
            margin: 50px 0px 100px 0px
            text-shadow: 3px 1px 2px black
            font-size: 50px
            color: white
            text-align: center
        div.logform
            display: flex
            flex-direction: column
            align-items: center
            border: 2px solid black
            border-radius: 10px
            width: 230px
            padding: 50px
            background-color: #000000
            label
                font-size: 20px
                color: white
                input
                    border-radius: 10px
                    padding: 5px
            button
                margin-top: 15px
                padding: 5px
                font-size: 20px
            a.insc
                text-decoration: none
                border: 2px solid white
                border-radius: 10px
                color: white
                margin-top: 30px
                padding: 15px
                background-color: rgb(15, 8, 26)
        div.regform
            display: flex
            flex-direction: column
            align-items: center
            h2.regtitle
                margin: 50px 0px 100px 0px
                text-shadow: 3px 1px 2px black
                font-size: 50px
                color: white
            form
                display: flex
                flex-direction: column
                align-items: center
                border: 2px solid black
                border-radius: 10px
                justify-items: center
                width: 230px
                padding: 50px
                background-color: #000000
                div
                    display: flex
                    flex-direction: column
                    align-items: center
                    width: 250px
                    padding: 10px
                    label
                        font-size: 20px
                        color: white
                    input
                        border-radius: 10px
                        padding: 5px
                button.btn
                    margin-top: 15px
                    padding: 5px
                    font-size: 20px
        div.container
            display: flex
            flex-wrap: wrap
            justify-content: space-evenly
            div.artcard, div.barcard
                display: flex
                flex-direction: column
                width: 320px
                height: 250px
                flex-wrap: wrap
                margin: 20px
                text-align: center
                border: 2px solid white
                border-radius: 10px
                justify-content: center
                padding: 10px
                background-color: black
                h2
                    color: white
                p
                    color: white
            div.artcard
                img
                    width: 80px
                    height: 80px
        footer
            background-color: rgb(2, 0, 20)
            padding: 20px
            ul
                display: flex
                justify-content: space-evenly
                list-style: none
                li
                    a
                        color: white
                        text-decoration: none
