<!DOCTYPE html>
<html>
    <footer class="footer">
        <ul>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">Legal Notices</a>
            </li>
            <li>
                <a href="">Contact Us</a>
            </li>
         </ul>
    </footer>
</html>
