<!DOCTYPE html>
<html>
    <nav>
        <ul>
            <li>
                <a href="{{ path('') }}">A Propos</a>
            </li>
            <li>
                <a href="{{ path('') }}">Les Mentions Légales</a>
            </li>
            <li>
                <a href="{{ path('') }}">Nous contacter</a>
            </li>
         </ul>
    </nav>
</html>
