{% extends 'base.html.twig' %}

{% block title %}Edit Bar{% endblock %}

{% block body %}
    <h1>Edit Bar</h1>

    {{ include('bar_controller_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bar_controller_crud_index') }}">back to list</a>

    {{ include('bar_controller_crud/_delete_form.html.twig') }}
{% endblock %}
